{% extends "base.html" %}

{% block titulo %}Categorías - Tienda Virtual{% endblock %}

{% block contenido %}
<div class="lista-categorias">
    <h2>Categorías</h2>

    <ul>
    {# TODO 1: Recorre 'categorias' con un ciclo for. #}
    {% for categoria in categorias %}

    {# TODO 2: Por cada una muestra su nombre y, entre paréntesis, cuántos
       productos tiene. Gracias al backref puedes contar así:
           {{ categoria.productos|length }}
            Y enlázala al catálogo filtrado:
           <a href="{{ url_for('main.index', categoria=categoria.id) }}">...</a>#}

           {% for categoria in categorias %}
    <p>
        {{ categoria.nombre }} ({{ categoria.productos|length }})
    </p>
    <a href="{{ url_for('main.index', categoria=categoria.id) }}">...</a>
{% endfor %}

    {# TODO 3: Cierra el ciclo con {% endfor %} #}
    </ul>
</div>
{% endblock %}
